node_modules/
playground/
coverage/
dist/
/src/samples/sample.html

# Cucumber
features/**/*.steps.js
reports/**/*.json
reports/
reports/**/*.html
.nyc_output/
.coveralls.yml
*.tgz

e2e/reportOutput
# Transpiled E2E
e2e/**/*.js
src/samples/sample-manual.html
