<details class="{{ getFeatureCss this}}">
  <summary>
    {{#if this.tags }}
    <div><strong><small>{{ this.tags }}</small></strong></div>
    {{/if}}
    <span>{{this.featureKeyword}}: {{this.featureName}}</span>
    <span class="feature-rollup-summary">
      {{#if this.failingScenarios.length}}
      <span class="summary-counts-failing"><i class="material-icons" title="Failing">clear</i>{{this.failingScenarios.length}}</span>
      {{/if}}
      {{#if this.undefinedScenarios.length}}
      <span class="summary-counts-undefined"><i class="material-icons" title="Undefined">visibility_off</i>{{this.undefinedScenarios.length}}</span>
      {{/if}}
      {{#if this.ambiguousScenarios.length}}
      <span class="summary-counts-ambiguous"><i class="material-icons" title="Ambiguous">warning</i>{{this.ambiguousScenarios.length}}</span>
      {{/if}}
      {{#if this.pendingScenarios.length}}
      <span><i class="material-icons" title="Pending">ac_unit</i>{{this.pendingScenarios.length}}</span>
      {{/if}}
      {{#if this.passingScenarios.length}}
      <span class="summary-counts-passing"><i class="material-icons" title="Passing">done</i>{{this.passingScenarios.length}}</span>
      {{/if}}
    </span>
  </summary>
  <section>
    <p class="feature-description">
      {{this.featureDescription}}
    </p>
    {{#each this.failingScenarios}}
    {{> scenario}}
    {{/each}}
    {{#each this.undefinedScenarios}}
    {{> scenario}}
    {{/each}}
    {{#each this.ambiguousScenarios}}
    {{> scenario}}
    {{/each}}
    {{#each this.pendingScenarios}}
    {{> scenario}}
    {{/each}}
    {{#each this.passingScenarios}}
    {{> scenario}}
    {{/each}}
  </section>
</details>
