<details class="{{getScenarioCss this}}">
  <summary>
    {{#if this.tags }}
    <div><strong><small>{{ this.tags }}</small></strong></div>
    {{/if}}
    {{this.scenarioKeyword}}: {{this.scenarioName}}
    <span class="feature-rollup-summary">
      {{#if this.failed}}
      <i class="material-icons" title="Failing">clear</i>{{this.failed}}
      {{/if}}
      {{#if (stepUndef this)}}
      <i class="material-icons" title="Undefined">visibility_off</i>{{stepUndef this}}
      {{/if}}
      {{#if this.ambiguous}}
      <i class="material-icons" title="Ambiguous">warning</i>{{this.ambiguous}}
      {{/if}}
      {{#if this.pending}}
      <i class="material-icons" title="Pending">ac_unit</i>{{this.pending}}
      {{/if}}
      {{#if this.skipped}}
      <i class="material-icons" title="Skipped">update</i>{{this.skipped}}
      {{/if}}
      {{#if this.passed}}
      <i class="material-icons" title="Passing">done</i>{{this.passed}}
      {{/if}}
  </summary>
  <p>{{this.scenarioDescription}}</p>
  {{#each this.steps}}
  <p title="{{this.result.status}}"><strong class="
    {{ getStepCss this}}
    step">{{this.keyword}}</strong>
    {{ this.name }}
  </p>
  {{/each}}
</details>
