<details class="scenario {{getScenarioCss this}}">
  <summary>
    {{#if this.tags }}
    <div><strong><small>{{ this.tags }}</small></strong></div>
    {{/if}}
    {{this.scenarioKeyword}}: {{this.scenarioName}}
    <span class="feature-rollup-summary">
      {{#if this.failed}}
      <span class="summary-counts-failing"><i class="material-icons" title="Failing">clear</i>{{this.failed}}</span>
      {{/if}}
      {{#if (countOf this 'undefined')}}
      <span class="summary-counts-undefined"><i class="material-icons" title="Undefined">visibility_off</i>{{countOf this 'undefined'}}</span>
      {{/if}}
      {{#if this.ambiguous}}
      <span class="summary-counts-ambiguous"><i class="material-icons" title="Ambiguous">warning</i>{{this.ambiguous}}</span>
      {{/if}}
      {{#if this.pending}}
      <span><i class="material-icons" title="Pending">ac_unit</i>{{this.pending}}</span>
      {{/if}}
      {{#if this.skipped}}
      <span><i class="material-icons" title="Skipped">update</i>{{this.skipped}}</span>
      {{/if}}
      {{#if this.passed}}
      <span class="summary-counts-passing"><i class="material-icons" title="Passing">done</i>{{this.passed}}</span>
      {{/if}}
  </summary>
  <p>{{this.scenarioDescription}}</p>
  {{#each this.steps}}
  <p title="{{this.result.status}}"><strong class="
    {{ getStepCss this}}
    step">{{this.keyword}}</strong>
    {{ this.name }}
  </p>
  {{#if this.arguments.length }}
  <p>
    {{#each this.arguments }}
      <table>
      {{#each this.rows}}
        <tr>
        {{#each this.cells}}
          <td>{{this}}</td>
        {{/each}}
        </tr>
      {{/each}}
      </table>
    {{/each}}
  </p>
  {{/if}}
  {{/each}}
</details>
