<html>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Failed', 'Undefined', 'Pending', 'Passed', 'Purple', 'Abmiguous'],
            datasets: [{
                label: '# of Votes',
                data: [
                  cucumberReportSummary.featureSummary.passed,
                  , 0, 0, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  <h1>Specification Execution Results </h1>

  <table border="1">
    <header>
        <thead>
          <td></td>
          <td>Passed</td>
          <td>Failed</td>
          <td>Undefined</td>
          <td>Ambiguous</td>
          <td>Pending</td>
          <td>Total</td>
        </thead>
    </header>

    <tr>
      <td>Features</td>
      <td>{{ cucumberReportSummary.featureSummary.passed }}</td>
      <td>{{ cucumberReportSummary.featureSummary.failed }}</td>
      {{! featureUndef helper is required becuase undefined is a reserved work in javascript and breaks the template. }}
      <td>{{ featureUndef cucumberReportSummary.featureSummary }} </td>
      <td>{{ cucumberReportSummary.featureSummary.ambiguous }}</td>
      <td>{{ cucumberReportSummary.featureSummary.pending }}</td>
      <td>{{ cucumberReportSummary.featureSummary.total }}</td>
    </tr>

    <tr>
      <td>Scenarios</td>
      <td>{{ cucumberReportSummary.scenarioSummary.passed }}</td>
      <td>{{ cucumberReportSummary.scenarioSummary.failed }}</td>
      {{! scenarioUndef helper is required becuase undefined is a reserved work in javascript and breaks the template. }}
      <td>{{ scenarioUndef cucumberReportSummary.scenarioSummary }} </td>
      <td>{{ cucumberReportSummary.scenarioSummary.ambiguous }}</td>
      <td>{{ cucumberReportSummary.scenarioSummary.pending }}</td>
      <td>{{ cucumberReportSummary.scenarioSummary.total }}</td>
    </tr>

  </table>

  <hr />

  <div>
    <h2>Feature Summary Breakdown</h2>

    <h3>Passing Features</h3>
    <ul>
      {{#each cucumberReportSummary.featureSummary.passingFeatures}}
      <li>{{this.featureName}}</li>
      {{/each}}
    </ul>

    <h3>Failing Features</h3>
    <ul>
      {{#each cucumberReportSummary.featureSummary.failingFeatures}}
      <li>{{this.featureName}}</li>
      {{/each}}
    </ul>

    <h3>Undefined Features</h3>
    <ul>
      {{#each cucumberReportSummary.featureSummary.undefinedFeatures}}
      <li>{{this.featureName}}</li>
      {{/each}}
    </ul>

    <h3>Ambiguous Features</h3>
    <ul>
      {{#each cucumberReportSummary.featureSummary.ambiguousFeatures}}
      <li>{{this.featureName}}</li>
      {{/each}}
    </ul>

    <h3>Pending Features</h3>
    <ul>
      {{#each cucumberReportSummary.featureSummary.pendingFeatures}}
      <li>{{this.featureName}}</li>
      {{/each}}
    </ul>
  </div>

  <hr />

  <div>
    <h2>Scenario Summary Breakdown</h2>

    <h3>Passing Scenarios</h3>
    <ul>
      {{#each cucumberReportSummary.scenarioSummary.passingScenarios}}
      <li>{{this.scenarioName}}</li>
      {{/each}}
    </ul>

    <h3>Failing Scenarios</h3>
    <ul>
      {{#each cucumberReportSummary.scenarioSummary.failingScenarios}}
      <li>{{this.scenarioName}}</li>
      {{/each}}
    </ul>

    <h3>Undefined Scenarios</h3>
    <ul>
      {{#each cucumberReportSummary.scenarioSummary.undefinedScenarios}}
      <li>{{this.scenarioName}}</li>
      {{/each}}
    </ul>

    <h3>Ambiguous Scenarios</h3>
    <ul>
      {{#each cucumberReportSummary.scenarioSummary.ambiguousScenarios}}
      <li>{{this.scenarioName}}</li>
      {{/each}}
    </ul>

    <h3>Pending Scenarios</h3>
    <ul>
      {{#each cucumberReportSummary.scenarioSummary.pendingScenarios}}
      <li>{{this.scenarioName}}</li>
      {{/each}}
    </ul>
  </div>

</body>
</html>
